body {
    background-color: #2C2C2C;
}

#block_container {
    display: flex;
}

#messagerie {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0em 0em 0em 0.5em;
    /* "justify-content" s’occupe de l’axe horizontal, et "align-items" de l’axe vertical */
}

#background_rect_messagerie {
    display: flex;
    align-items: end;
    justify-content: end;

    /* Fond */
    background: #ACACAC;
    width: 70%;
    height: 100%;
    border-radius: 1em;
}

#text_box {
    padding: 1em;
}

form #message_input {
    border-radius: 1em;
    border: none;
    justify-content: center;
    padding: 1em 0.5em 0.5em 1em;
}
 
::placeholder {
    text-align: center;
}

#equipes_liste {
    height: 90vh;
    width: 30%;
    /* "justify-content" s’occupe de l’axe horizontal, et "align-items" de l’axe vertical */
}

#background_rect_equipes_liste {
    /* Fond */
    background: #db6a6a;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: start;
    align-items: start;
}

#background_rect_equipes_liste p {
    padding: 0em 0em 0em 1em;
}